In [1]:
import pandas as pd

#Series
sample_list = ['a', 'b', 'c', 'd']
series = pd.Series(sample_list)
series

0    a
1    b
2    c
3    d
dtype: object

In [2]:
#軸ラベルでアクセス
series_1 = series[1]
series_1

'b'

In [3]:
#軸ラベルを変更
series.index = ['i1', 'i2', 'i3', 'i4']
series

i1    a
i2    b
i3    c
i4    d
dtype: object

In [4]:
#変更した軸ラベルでアクセス
series_i2 = series['i2']
series_i2

'b'

In [6]:
#値と軸ラベルを取得
series.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [7]:
series.index.values

array(['i1', 'i2', 'i3', 'i4'], dtype=object)

In [8]:
# data frame
df = pd.DataFrame([list('abcd'), list('efgh')])
df

   0  1  2  3
0  a  b  c  d
1  e  f  g  h

In [9]:
# データアクセス
df.values

array([['a', 'b', 'c', 'd'],
       ['e', 'f', 'g', 'h']], dtype=object)

In [11]:
df.columns

RangeIndex(start=0, stop=4, step=1)

In [12]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [14]:
# 列ラベルの変更
df.columns = list('ABCD')
df

   A  B  C  D
0  a  b  c  d
1  e  f  g  h

In [15]:
df['A']

0    a
1    e
Name: A, dtype: object

In [16]:
df.B

0    b
1    f
Name: B, dtype: object

In [19]:
# Series型
type(df.B)

pandas.core.series.Series

In [18]:
# BとD列を取得
df[['B', 'D']]

   B  D
0  b  d
1  f  h

In [21]:
# Data Frame型
type(df[['B', 'D']])

pandas.core.frame.DataFrame

In [22]:
# デフォルトで付けられている行ラベルで行にアクセス
df.loc[1]

A    e
B    f
C    g
D    h
Name: 1, dtype: object

In [23]:
# 行ラベルの変更
df2 = pd.DataFrame(
    [list('abcd'), list('efgh'),
     list('ijkl'), list('mnop')],
    index=['first', 'second', 'third', 'fourth'],
    columns=list('ABCD'))
df2

        A  B  C  D
first   a  b  c  d
second  e  f  g  h
third   i  j  k  l
fourth  m  n  o  p

In [25]:
# 変更した行ラベルでアクセス
df2.loc['second']

A    e
B    f
C    g
D    h
Name: second, dtype: object

In [26]:
# 行番号でアクセス

In [27]:
df.iloc[1]

A    e
B    f
C    g
D    h
Name: 1, dtype: object

In [28]:
# 行列の指定
df2.loc['second', 'C']

'g'

In [29]:
# 複数の行
df2.loc[['second', 'fourth']]

        A  B  C  D
second  e  f  g  h
fourth  m  n  o  p

In [30]:
# 行列
df2.loc[['second', 'fourth'], ['A', 'D']]

        A  D
second  e  h
fourth  m  p