In [2]:
import pandas as pd

# CSVファイルの読み込み
df = pd.read_csv('data/health_check.csv')
df

       Name  Height  Weight
0      sato     172      53
1    tanaka     160      50
2    suzuki     165      58
3  hasegawa     160      65

In [2]:
# TSVファイルの読み込み
df = pd.read_table('data/health_check.tsv')
df

       Name  Height  Weight
0      sato     172      53
1    tanaka     160      50
2    suzuki     165      58
3  hasegawa     160      65

In [4]:
# ヘッダーの追加
df = pd.read_csv('data/health_check_nohead.csv',
                  names=['Name', 'Height', 'Weight'])
df

       Name  Height  Weight
0      sato     172      53
1    tanaka     160      50
2    suzuki     165      58
3  hasegawa     160      65

In [7]:
import os
# 書き込み
df.to_csv('./tmp.csv', index=False, encoding='utf-8')
df = pd.read_csv('./tmp.csv')
os.remove('./tmp.csv')
df

       Name  Height  Weight
0      sato     172      53
1    tanaka     160      50
2    suzuki     165      58
3  hasegawa     160      65

In [9]:
# JSON形式の出力
df_json = df.to_json()
df_json

'{"Name":{"0":"sato","1":"tanaka","2":"suzuki","3":"hasegawa"},"Height":{"0":172,"1":160,"2":165,"3":160},"Weight":{"0":53,"1":50,"2":58,"3":65}}'

In [11]:
df_json_records = df.to_json(orient='records')
df_json_records

'[{"Name":"sato","Height":172,"Weight":53},{"Name":"tanaka","Height":160,"Weight":50},{"Name":"suzuki","Height":165,"Weight":58},{"Name":"hasegawa","Height":160,"Weight":65}]'

In [3]:
# 大きなサイズのcsvファイルの読込み
df_log_big = pd.read_csv('data/health_check_nohead.csv', low_memory=False)

In [5]:
# 日本語などでUTF-8を使用している時
df_log1_utf8 = pd.read_csv('data/health_check_nohead.csv', encoding='utf-8')