In [1]:
import pandas as pd

df = pd.read_csv('data/health_check.csv')
df

       Name  Height  Weight
0      sato     172      53
1    tanaka     160      50
2    suzuki     165      58
3  hasegawa     160      65

In [2]:
# 条件で絞り込み
df_165 = df[df['Height'] >= 165]
df_165

     Name  Height  Weight
0    sato     172      53
2  suzuki     165      58

In [3]:
# 複数条件での絞り込み
df_ans = df[(df['Height'] >= 165) & (df['Weight'] >= 55)]
df_ans

     Name  Height  Weight
2  suzuki     165      58

In [6]:
# queryを使った複数条件での絞り込み
df.query('Height >= 165 & Name == "sato"')

   Name  Height  Weight
0  sato     172      53

In [5]:
# 変数をquery内で使うなら@を付ける
target_name = 'sato'
df.query('Height >= 165 & Name == @target_name')

   Name  Height  Weight
0  sato     172      53