In [1]:
import pandas as pd

df_log = pd.read_table('data/product_log.tsv')
df_log.head()

         Date  Num Product
0  2017-01-03  1.0       B
1  2017-01-06  2.0       B
2  2017-01-07  1.0       A
3  2017-01-11  2.0       A
4  2017-01-12  2.0       B

In [2]:
# 欠損値でない数
df_log.count()

Date       40
Num        36
Product    40
dtype: int64

In [3]:
# dropna で欠損値を1つでも含む行を削除
df_log_dropna = df_log.dropna()
df_log_dropna.count()

Date       36
Num        36
Product    36
dtype: int64

In [4]:
# dropna(1) で欠損値を1つでも含む列を削除
df_log_dropna2 = df_log.dropna(1)
df_log_dropna2.count()

Date       40
Product    40
dtype: int64

In [5]:
# dropna(subset=['Date', 'Product']) で Date列とProduct列のみ欠損値を1つでも含む行を削除
df_log_dropna3 = df_log.dropna(subset=['Date', 'Product'])
df_log_dropna3.count()

Date       40
Num        36
Product    40
dtype: int64

In [7]:
# inplace=True で df_log そのものが変更されます
df_log.dropna(inplace=True)
df_log.count()

Date       36
Num        36
Product    36
dtype: int64